<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DATA BASE ON REAL TIME</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
 

    <h3>DATA BASE ON REAL TIME</h3>
    
    <form id="formAgregar" method="post">
        TITLE: <input type="text" name="title" id="title" required>
        DESCRIPTION: <input type="text" name="description" id="description" required>
        PRICE: <input type="number" name="price" id="price" required>
        STOCK: <input type="number" name="stock" id="stock" required>
        CODE: <input type="number" name="code" id="code" required>
        CATEGORY: <input type="text" name="category" id="category" required>

        <input type="submit" name="accion" id="submitAdd" value="AGREGAR">
    </form>

    <form id="formEliminar" method="post">
        ID: <input type="number" name="id" id="id" required>
        <input type="submit" name="accion" id="submitDel" value="ELIMINAR">
    </form>

    <ul id="listaDeProductos"></ul>
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/src/public/index.js"></script>

</body>
</html>